body {
  background-color: #0000cd;
  font-family: Arial, Helvetica, san-serif;
  margin: 10% 20%;
}

.header {
  text-transform: uppercase;
  color: #ffffff;
}

.contact  {
  color: #ffff00;
  border: 10px outset blue;   
}
.statement, .productioncontroller, .recruiter  {
  color: ffffff;
  
}

.keyskills, .informationsecurity, .technicalmanager, .avionics {
  color: #00ff00;
}
.education {
  color:#ff0000;
    border: 10px ridge;
}
